body{
    margin: 0;
}
#nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#nav a{
    margin-right: 20px;
}
#nav a.topimage{
    width: 20px;
    height: 20px;
    background-color: indianred;
    border-radius: 50%;
}
.googlelogo{
    margin-top: 250px;
    text-align: center;
    /*position: fixed;
    top: 35%;
    left: 42%;*/
}

.Search{
    text-align: center;
    /*position: fixed;
    top: 48%;
    left: 40%;*/
    
}

.Search input{
    width:  340px;
    padding-top:  10px;
    outline: 0;
    border-radius: 10px;
    border: 2px solid rgb(199, 195, 195);

}

.buttons{
    text-align: center;
    /*position: fixed;
    top: 53%;
    left: 45%;*/
}
.footer{
    background-color: gray;
}
